<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="img/favicon.ico">
        <title>实现分类列表页及文章详情页 - Flask博客项目开发实战</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/styles/github.min.css">

        <script src="js/jquery-1.10.2.min.js" defer></script>
        <script src="js/bootstrap.min.js" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/highlight.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/yaml.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/rust.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/python.min.js"></script>
        <script>hljs.initHighlightingOnLoad();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="index.html">Flask博客项目开发实战</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="navitem">
                                <a href="index.html" class="nav-link">首页</a>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">开发 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="%E7%8E%AF%E5%A2%83%E9%85%8D%E7%BD%AE.html" class="dropdown-item">环境配置</a>
</li>
                                    
<li>
    <a href="%E5%BF%AB%E9%80%9F%E4%B8%8A%E6%89%8B.html" class="dropdown-item">快速上手</a>
</li>
                                    
<li>
    <a href="%E7%9B%AE%E5%BD%95%E7%BB%93%E6%9E%84.html" class="dropdown-item">目录结构</a>
</li>
                                    
<li>
    <a href="%E5%B7%A5%E5%8E%82%E5%87%BD%E6%95%B0.html" class="dropdown-item">工厂函数</a>
</li>
                                    
<li>
    <a href="%E8%93%9D%E5%9B%BE%E5%BA%94%E7%94%A8.html" class="dropdown-item">蓝图应用</a>
</li>
                                    
<li>
    <a href="%E5%AE%89%E8%A3%85%E5%B9%B6%E9%85%8D%E7%BD%AEFlask-SQLAlchemy.html" class="dropdown-item">安装Flask-SQLAlchemy</a>
</li>
                                    
<li>
    <a href="%E9%85%8D%E7%BD%AEFlask-Migrate.html" class="dropdown-item">配置Flask-Migrate</a>
</li>
                                    
<li>
    <a href="%E5%8D%9A%E5%AE%A2%E7%9B%B8%E5%85%B3%E6%A8%A1%E5%9E%8B%E5%88%9B%E5%BB%BA.html" class="dropdown-item">博客相关模型创建</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E5%8D%9A%E5%AE%A2%E9%A6%96%E9%A1%B5%E8%A7%86%E5%9B%BE%E5%8F%8A%E6%A0%B7%E5%BC%8F.html" class="dropdown-item">实现博客首页视图及样式</a>
</li>
                                    
<li>
    <a href="%E6%8E%8C%E6%8F%A1%E5%A2%9E%E5%88%A0%E6%94%B9%E6%9F%A5.html" class="dropdown-item">掌握增删改查</a>
</li>
                                    
<li>
    <a href="%E5%88%9B%E5%BB%BA%E7%94%A8%E6%88%B7%E7%9B%B8%E5%85%B3%E5%BA%94%E7%94%A8.html" class="dropdown-item">创建用户相关应用</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E7%99%BB%E5%BD%95%E6%B3%A8%E5%86%8C%E5%8A%9F%E8%83%BD.html" class="dropdown-item">实现登录注册功能</a>
</li>
                                    
<li>
    <a href="%E4%BD%BF%E7%94%A8WTForms%E8%BF%9B%E8%A1%8C%E8%A1%A8%E5%8D%95%E9%AA%8C%E8%AF%81.html" class="dropdown-item">使用WTForms进行表单验证</a>
</li>
                                    
<li>
    <a href="%E5%88%9B%E5%BB%BA%E5%90%8E%E5%8F%B0%E7%AE%A1%E7%90%86%E5%BA%94%E7%94%A8.html" class="dropdown-item">创建后台管理应用</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E5%88%86%E7%B1%BB%E7%AE%A1%E7%90%86%E5%A2%9E%E5%88%A0%E6%94%B9%E6%9F%A5.html" class="dropdown-item">实现分类管理增删改查</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E6%96%87%E7%AB%A0%E7%AE%A1%E7%90%86%E5%A2%9E%E5%88%A0%E6%94%B9%E6%9F%A5.html" class="dropdown-item">实现文章管理增删改查</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E6%96%87%E7%AB%A0%E6%A0%87%E7%AD%BE%E7%AE%A1%E7%90%86.html" class="dropdown-item">实现文章标签管理</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E7%94%A8%E6%88%B7%E7%AE%A1%E7%90%86%E5%8A%9F%E8%83%BD.html" class="dropdown-item">实现用户管理功能</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E5%85%A8%E7%AB%99%E5%AF%BC%E8%88%AA%E8%8F%9C%E5%8D%95%E5%8F%8A%E9%A6%96%E9%A1%B5%E6%95%B0%E6%8D%AE%E5%B1%95%E7%A4%BA.html" class="dropdown-item">实现全站导航菜单及首页数据展示</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E5%88%86%E7%B1%BB%E5%88%97%E8%A1%A8%E9%A1%B5%E5%8F%8A%E6%96%87%E7%AB%A0%E8%AF%A6%E6%83%85%E9%A1%B5.html" class="dropdown-item active">实现分类列表页及文章详情页</a>
</li>
                                    
<li>
    <a href="%E9%9B%86%E6%88%90%E5%AF%8C%E6%96%87%E6%9C%AC%E7%BC%96%E8%BE%91%E5%99%A8Quill.html" class="dropdown-item">集成富文本编辑器Quill</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E4%BE%A7%E8%BE%B9%E6%A0%8F%E6%96%87%E7%AB%A0%E5%BD%92%E6%A1%A3%E5%8F%8A%E6%A0%87%E7%AD%BE.html" class="dropdown-item">实现侧边栏文章归档及标签</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E4%BE%A7%E8%BE%B9%E6%A0%8F%E6%9C%80%E6%96%B0%E6%96%87%E7%AB%A0%E5%8F%8A%E6%90%9C%E7%B4%A2.html" class="dropdown-item">实现侧边栏最新文章及搜索</a>
</li>
                                    
<li>
    <a href="%E5%AE%9E%E7%8E%B0%E4%B8%AA%E4%BA%BA%E4%B8%AD%E5%BF%83%E5%8F%8A%E6%9D%83%E9%99%90%E7%AE%A1%E7%90%86.html" class="dropdown-item">实现个人中心及权限管理</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">部署 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="nginx%2Buwsgi%2Bmysql%2B%E5%AE%9D%E5%A1%94%E9%9D%A2%E6%9D%BF%E9%83%A8%E7%BD%B2.html" class="dropdown-item">nginx+uwsgi+mysql+宝塔面板部署</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a rel="prev" href="%E5%AE%9E%E7%8E%B0%E5%85%A8%E7%AB%99%E5%AF%BC%E8%88%AA%E8%8F%9C%E5%8D%95%E5%8F%8A%E9%A6%96%E9%A1%B5%E6%95%B0%E6%8D%AE%E5%B1%95%E7%A4%BA.html" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="%E9%9B%86%E6%88%90%E5%AF%8C%E6%96%87%E6%9C%AC%E7%BC%96%E8%BE%91%E5%99%A8Quill.html" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#_1" class="nav-link">实现分类列表页</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            
            <li class="nav-item" data-level="1"><a href="#_2" class="nav-link">实现文章详情页</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-level="2"><a href="#url" class="nav-link">增加导航菜单中的url</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#url_1" class="nav-link">首页文章url完善</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="_1">实现分类列表页</h1>
<p>在设计数据库字段的时候，我们将分类与文章设置为一对多关系，一个分类下可以有多篇文章，那么导航栏通过上一节我们已经实现了，那么这一节我们就实现每个分类下的文章列表页！</p>
<p>在app/blog/views.py中实现分类页视图</p>
<pre><code class="language-python">@bp.route('/category/&lt;int:cate_id&gt;')
def cates(cate_id):
    # 分类页
    cate = Category.query.get(cate_id)
    page = request.args.get('page', 1, type=int)
    pagination = Post.query.filter(Post.category_id==cate_id).paginate(page, per_page=10, error_out=False)
    post_list = pagination.items
    return render_template('cate_list.html', cate=cate, post_list=post_list, cate_id=cate_id, pagination=pagination)
</code></pre>
<p>这个函数的逻辑也是在之前实现管理后台的时候多次实现，这里我们用了filter的查询方法根据url传进来的分类主键id来查询当前分类下的数据，并对其进行分页！</p>
<p>在app/blog/templates/中创建一个cate_list.html的模板文件</p>
<pre><code class="language-html">{% extends 'base.html' %}

{% block title %}{{ cate.name }}{% endblock title %}

{% block hero %}{% endblock hero %}

{% block box %}
&lt;div class=&quot;columns&quot;&gt;
    &lt;div class=&quot;column is-9&quot; style=&quot;border-right:solid 1px #eee ;&quot;&gt;
        &lt;div class=&quot;box is-shadowless has-background-light&quot;&gt;
            {% block breadcrumb %}
            &lt;nav class=&quot;breadcrumb is-small&quot; aria-label=&quot;breadcrumbs&quot;&gt;
                &lt;ul&gt;
                &lt;li&gt;&lt;a href=&quot;/&quot;&gt;首页&lt;/a&gt;&lt;/li&gt;
                &lt;li class=&quot;is-active&quot;&gt;&lt;a href=&quot;#&quot; aria-current=&quot;page&quot;&gt;{{ cate.name }}&lt;/a&gt;&lt;/li&gt;
                &lt;/ul&gt;
            &lt;/nav&gt;
            {% endblock breadcrumb %}
        &lt;/div&gt;

        {% block cate_box %}
        {% for post in post_list %}
            &lt;div class=&quot;pl-2&quot;&gt;
                &lt;h1 class=&quot;is-size-4&quot;&gt;
                    &lt;a href=&quot;{{ url_for('blog.detail', cate_id=post.category.id, post_id=post.id) }}&quot;&gt;{{ post.title }}&lt;/a&gt;
                &lt;/h1&gt;
                &lt;p class=&quot;has-text-grey-light is-size-6 mt-1&quot;&gt;
                    &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;mdi mdi-clipboard-text-clock-outline&quot;&gt;&lt;/i&gt;&lt;/span&gt;{{ post.add_date }}
                    &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;mdi mdi-shape-outline&quot;&gt;&lt;/i&gt;&lt;/span&gt;{{ post.category.name }}
                    &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;mdi mdi-tag-heart-outline&quot;&gt;&lt;/i&gt;&lt;/span&gt;{{ post.tags|join(',') }}
                &lt;/p&gt;
                &lt;div class=&quot;has-text-grey mt-1&quot;&gt;{{ post.desc }}&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot; dropdown-divider mb-3&quot;&gt;&lt;/div&gt;
        {% endfor %}
        {% block pagination %}
        &lt;nav class=&quot;pagination is-small&quot; role=&quot;navigation&quot; aria-label=&quot;pagination&quot;&gt;
            {% if pagination.has_prev %}
            &lt;a href=&quot;{{ url_for('blog.cates', cate_id=cate.id ) }}?page={{ pagination.prev_num }}&quot; class=&quot;pagination-previous&quot; title=&quot;This is the first page&quot;&gt;Previous&lt;/a&gt;
            {% endif %}
            {% if pagination.has_next %}
            &lt;a href=&quot;{{ url_for('blog.cates', cate_id=cate.id) }}?page={{ pagination.next_num }}&quot; class=&quot;pagination-next&quot;&gt;Next page&lt;/a&gt;
            {% endif %}

            &lt;ul class=&quot;pagination-list&quot;&gt;        
                {% for page in pagination.iter_pages() %}
                    {% if page %} 
                        {% if page != pagination.page %}
                        &lt;li&gt;
                            &lt;a href=&quot;{{ url_for('blog.cates', cate_id=cate.id) }}?page={{ page }}&quot; class=&quot;pagination-link&quot; aria-label=&quot;Page 1&quot; aria-current=&quot;page&quot;&gt;{{ page }}&lt;/a&gt;
                        &lt;/li&gt;
                        {% else %}
                        &lt;li&gt;
                            &lt;a class=&quot;pagination-link is-current&quot; aria-label=&quot;Page 1&quot; aria-current=&quot;page&quot;&gt;{{ page }}&lt;/a&gt;
                        &lt;/li&gt;
                        {% endif %}
                    {% else %}
                        &lt;span class=pagination-ellipsis&gt;&amp;hellip;&lt;/span&gt;
                    {% endif %}
                {% endfor %}

            &lt;/ul&gt;
        &lt;/nav&gt;
        {% endblock pagination %}
        {% endblock cate_box %}
    &lt;/div&gt;
    &lt;div class=&quot;column&quot;&gt;
        asdas
    &lt;/div&gt;
&lt;/div&gt;
{% endblock box %}
</code></pre>
<p>该模板中我们查询出了刚才视图中返回的数据，并继承base.html实现了一个一本的样式！</p>
<ul>
<li>最终样式
<img alt="" src="img/7.png" /></li>
</ul>
<h1 id="_2">实现文章详情页</h1>
<p>在app/blog/views.py中实现文章详情页视图</p>
<pre><code class="language-python">@bp.route('/category/&lt;int:cate_id&gt;/&lt;int:post_id&gt;')
def detail(cate_id, post_id):
    # 详情页
    cate = Category.query.get(cate_id)
    post = Post.query.get_or_404(post_id)

    # 上一篇
    prev_post = Post.query.filter(Post.id &lt; post_id).order_by(-Post.id).first()
    # 下一篇
    next_post = Post.query.filter(Post.id &gt; post_id).order_by(Post.id).first()

    return render_template('detail.html', cate=cate, post=post, prev_post=prev_post, next_post=next_post)
</code></pre>
<p>这段代码不仅实现了文章详情页，还实现了上一篇及下一篇的功能！</p>
<p>通过url我们分别传入了分类cate_id以及当前文章post_id两个主键，之后根据这两个主键获取所属分类的及文章,代码如下：</p>
<pre><code class="language-python">cate = Category.query.get(cate_id)
post = Post.query.get_or_404(post_id)
</code></pre>
<p>在这里我们同时实现了详情页的上一篇及下一篇的功能，根据当前文章的id来判断筛选出上一篇和下一篇！代码如下：</p>
<pre><code class="language-python"># 上一篇
prev_post = Post.query.filter(Post.id &lt; post_id).order_by(-Post.id).first()
# 下一篇
next_post = Post.query.filter(Post.id &gt; post_id).order_by(Post.id).first()
</code></pre>
<p>在app/blog/templates/中创建一个detail.html的模板文件</p>
<pre><code>{% extends 'cate_list.html' %}

{% block title %}
    {{ post.title }}
{% endblock title %}

{% block breadcrumb %}
    &lt;nav class=&quot;breadcrumb is-small&quot; aria-label=&quot;breadcrumbs&quot;&gt;
        &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;/&quot;&gt;首页&lt;/a&gt;&lt;/li&gt;
            &lt;li&gt;&lt;a href=&quot;{{ url_for('blog.cates', cate_id=cate.id) }}&quot;&gt;{{ cate.name }}&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;is-active&quot;&gt;&lt;a href=&quot;#&quot; aria-current=&quot;page&quot;&gt;{{ post.title }}&lt;/a&gt;&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/nav&gt;
{% endblock breadcrumb %}

{% block cate_box %}
&lt;div class=&quot;pl-2&quot;&gt;
    &lt;h1 class=&quot;is-size-3&quot;&gt;
        {{ post.title }}
    &lt;/h1&gt;
    &lt;p class=&quot;has-text-grey-light is-size-6 mt-1&quot;&gt;
        &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;mdi mdi-clipboard-text-clock-outline&quot;&gt;&lt;/i&gt;&lt;/span&gt;{{ post.add_date }}
        &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;mdi mdi-shape-outline&quot;&gt;&lt;/i&gt;&lt;/span&gt;{{ post.category.name }}
        &lt;span class=&quot;icon&quot;&gt;&lt;i class=&quot;mdi mdi-tag-heart-outline&quot;&gt;&lt;/i&gt;&lt;/span&gt;{{ post.tags|join(',') }}
    &lt;/p&gt;
    &lt;div class=&quot;content has-text-grey mt-1&quot;&gt;{{ post.content|safe }}&lt;/div&gt;
&lt;/div&gt;

&lt;hr&gt;
&lt;div class=&quot;level&quot;&gt;
    &lt;div class=&quot;level-left&quot;&gt;
        {% if prev_post %}
            上一篇：&lt;a href=&quot;{{ url_for('blog.detail', cate_id=prev_post.category.id, post_id=prev_post.id) }}&quot;&gt;{{ prev_post.title }}&lt;/a&gt;
        {% endif %}
    &lt;/div&gt;
    &lt;div class=&quot;level-right&quot;&gt;
        {% if next_post %}
            下一篇：&lt;a href=&quot;{{ url_for('blog.detail', cate_id=next_post.category.id, post_id=next_post.id) }}&quot;&gt;{{ next_post.title }}&lt;/a&gt;
        {% endif %}
    &lt;/div&gt;
&lt;/div&gt;
{% endblock cate_box %}
</code></pre>
<h2 id="url">增加导航菜单中的url</h2>
<p>路径： app/blog/templates/base.html</p>
<pre><code class="language-html">{% for cate in categorys %}
    &lt;b-navbar-item
        {% if cate.id == cate_id %}class=&quot;has-text-primary&quot;{% endif %} 
        href=&quot;{{ url_for('blog.cates', cate_id=cate.id) }}&quot;&gt;
        {{ cate.name }}
    &lt;/b-navbar-item&gt;
{% endfor %}
</code></pre>
<h2 id="url_1">首页文章url完善</h2>
<p>路径： app/blog/templates/base.html</p>
<pre><code class="language-html">{% for post in posts %}
&lt;div class=&quot;column is-4-fullhd is-6-desk&quot;&gt;
    &lt;div class=&quot;card&quot;&gt;
        &lt;div class=&quot;card-image&quot;&gt;
            &lt;figure class=&quot;image is-4by5&quot;&gt;
                &lt;img src=&quot;{{ post.img }}&quot; alt=&quot;Placeholder image&quot;&gt;
            &lt;/figure&gt;
        &lt;/div&gt;
        &lt;div class=&quot;card-content&quot;&gt;
            &lt;div class=&quot;content&quot;&gt;
                &lt;p class=&quot;title is-4&quot;&gt;&lt;a
                        href=&quot;{{ url_for('blog.detail', cate_id=post.category.id, post_id=post.id) }}&quot;&gt;{{ post.title}}&lt;/a&gt; &lt;/p&gt;
                &lt;p class=&quot;has-text-grey subtitle is-size-6&quot;&gt;
                    {{ post.desc }}
                &lt;/p&gt;
                &lt;time class=&quot;has-text-grey&quot; datetime=&quot;{{ post.add_date }}&quot;&gt;{{ post.add_date }}&lt;/time&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
{% endfor %}
</code></pre></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script>
            var base_url = ".",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="js/base.js" defer></script>

        <div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
